AWS_PROFILE=prod-pulumi # AWS PROFILE CONFGIURED IN YOUR MACHINE
AWS_S3_URIS=s3://prod-octaprice-crawl-input-output/parallel_pdp_outputs/165/20494_matched/results/,s3://prod-octaprice-crawl-input-output/parallel_pdp_outputs/165/20495_matched/results/ # ONE OR MORE FULL S3 URIS, SEPARATED BY COMMA
