AWS_PROFILE=prod-pulumi # AWS PROFILE CONFGIURED IN YOUR MACHINE
AWS_S3_BUCKET = prod-octaprice-crawl-input-output # S3 BUCKET NAME
AWS_S3_PREFIX = parallel_pdp_outputs/165/20494_matched/results/ # S3 PREFIX TO DOWNLOAD THE FILES, IN THIS CASE IT'S THE FOLDER PATH IN THE BUCKET